In [1]:
import pandas as pd
from metric import pr_score

In [2]:
test = "tra0_gpt-4o_10-2-17"
response = pd.read_csv(f'chatgpt/responses/{test}/{test}_summary_formatted.csv')
equations = []
answers = []
for i, row in response.iterrows():
    for j in range(2, 17):
        equations.append(row[f'equation_{{{j}}}'][:-1])
        if pd.isna(row[f'answer_{{{j}}}']):
            answers.append([])
        else:
            answers.append(row[f'answer_{{{j}}}'].split("="))

In [3]:
from utils import _check_equation_format, _check_number_format, check_format

# check if response initial equation doesn't match actual equation
print("responses where equation doesn't match original equation: ")
for i, equation in enumerate(equations):
    if len(answers[i]) == 0 or equation != answers[i][0]:
        print(equation, answers[i])

# check format of each equation and response
print("equations or responses that have incorrect formats: ")
for equation in equations:
    try:
        _check_equation_format(equation)
    except:
        print(equation)
for answer in answers:
    for equation in answer:
        if len(check_format(equation)) == 0:
            print(equation)

responses where equation doesn't match original equation:
1001010101011000_{2}+11011111101011_{2} []
equations or responses that have incorrect formats:

In [4]:
for answer in answers:
    print(answer)

['110001010011111_{2}+110101110101010_{2}', '10011110111101101_{2}']
['1021122002_{3}+1101210211_{3}', '21210202010_{3}']
['12022133_{4}+12232222_{4}', '25247_{10}+27442_{10}', '52689_{10}', '30131301_{4}']
['1301442_{5}+1340222_{5}', '25247_{10}+27662_{10}', '52909_{10}', '3104134_{5}']
['312515_{6}+331334_{6}', '25247_{10}+27562_{10}', '52809_{10}', '1044253_{6}']
['133415_{7}+143233_{7}', '25247_{10}+27562_{10}', '52809_{10}', '306651_{7}']
['61237_{8}+65652_{8}', '25247_{10}+27602_{10}', '52849_{10}', '147161_{8}']
['37562_{9}+41724_{9}', '25247_{10}+27562_{10}', '52809_{10}', '80386_{9}']
['25247_{10}+27562_{10}', '52809_{10}']
['17A72_{11}+19787_{11}', '25247_{10}+27562_{10}', '52809_{10}', '36947_{11}']
['1273B_{12}+13B4A_{12}', '25247_{10}+27562_{10}', '52809_{10}']
['B651_{13}+C712_{13}', '25247_{10}+27562_{10}', '52809_{10}', '1B049_{13}']
['92B5_{14}+A08A_{14}', '25247_{10}+27562_{10}', '52809_{10}', '15361_{14}']
['7732_{15}+8277_{15}', '25247_{10}+27562_{10}', '52809_{10}', '190A9_{15}']
['629F_{16}+6BAA_{16}', '25247_{10}+27562_{10}', '52809_{10}', 'CEC9_{16}']
['101001011101_{2}+100001001001000_{2}', '1373_{10}+8776_{10}', '10149_{10}', '10011110001101_{2}']
['10122021_{3}+212021110_{3}', '2653_{10}+16868_{10}', '19521_{10}', '222200000_{3}']
['221131_{4}+10021020_{4}', '2653_{10}+16968_{10}', '19621_{10}', '110220211_{4}']
['41103_{5}+1020333_{5}', '2653_{10}+16968_{10}', '19621_{10}', '1111441_{5}']
['20141_{6}+210320_{6}', '2653_{10}+16968_{10}', '19621_{10}', '153305_{6}']
['10510_{7}+100320_{7}', '2653_{10}+16968_{10}', '19621_{10}', '111130_{7}']
['5135_{8}+41110_{8}', '2653_{10}+16968_{10}', '19621_{10}', '46245_{8}']
['3567_{9}+25243_{9}', '2653_{10}+16968_{10}', '19621_{10}', '28821_{9}']
['2653_{10}+16968_{10}', '19621_{10}']
['1AA2_{11}+11826_{11}', '2653_{10}+16968_{10}', '19621_{10}', '13818_{11}']
['1651_{12}+99A0_{12}', '2653_{10}+16968_{10}', '19621_{10}', 'B431_{12}']
['1291_{13}+7953_{13}', '2653_{10}+16968_{10}', '19621_{10}', '86168_{13}']
['D77_{14}+6280_{14}', '2653_{10}+16968_{10}', '19621_{10}', '7207_{14}']
['BBD_{15}+5063_{15}', '2653_{10}+16968_{10}', '19621_{10}', '5C3D_{15}']
['A5D_{16}+4248_{16}', '2653_{10}+16968_{10}', '19621_{10}', '4C5A_{16}']
['1000001011100010_{2}+111110001100101_{2}', '110000110001000111_{2}']
['1200221222_{3}+1121200110_{3}', '33365_{10}+31845_{10}', '65210_{10}', '10022110212_{3}']
['20023202_{4}+13301211_{4}', '33496_{10}+31845_{10}', '65341_{10}', '33330331_{4}']
['2033011_{5}+2004340_{5}', '33506_{10}+31845_{10}', '65351_{10}', '4004241_{5}']
['415042_{6}+403233_{6}', '33486_{10}+31845_{10}', '65331_{10}', '1222233_{6}']
['166454_{7}+161562_{7}', '33460_{10}+31845_{10}', '65305_{10}', '361625_{7}']
['101342_{8}+76145_{8}', '33506_{10}+31845_{10}', '65351_{10}', '175707_{8}']
['50858_{9}+47613_{9}', '33406_{10}+31845_{10}', '65251_{10}', '108725_{9}']
['33506_{10}+31845_{10}', '65351_{10}']
['231A0_{11}+21A20_{11}', '33496_{10}+31845_{10}', '65341_{10}', '36AA0_{11}']
['17482_{12}+16519_{12}', '33506_{10}+31845_{10}', '65351_{10}', '319A11_{12}']
['12335_{13}+11658_{13}', '23990_{13}']
['C2D4_{14}+B869_{14}', '33506_{10}+31845_{10}', '65351_{10}', '195B9_{14}']
['9DDB_{15}+9680_{15}', '33506_{10}+31845_{10}', '65351_{10}', '1465B_{15}']
['82E2_{16}+7C65_{16}', '33506_{10}+31845_{10}', '65351_{10}', 'FEF7_{16}']
['110011110101001_{2}+100110110100101_{2}', '1011011101001110_{2}']
['1100101212_{3}+1000021012_{3}', '26537_{10}+19877_{10}', '46414_{10}', '21000200010_{3}']
['12132221_{4}+10312211_{4}', '26537_{10}+19877_{10}', '46414_{10}', '130212202_{4}']
['1322122_{5}+1114002_{5}', '26537_{10}+19877_{10}', '46414_{10}', '2441244_{5}']
['322505_{6}+232005_{6}', '26537_{10}+19877_{10}', '46414_{10}', '555415_{6}']
['140240_{7}+111644_{7}', '46514_{10}', '252412_{7}']
['63651_{8}+46645_{8}', '26537_{10}+19877_{10}', '46414_{10}', '132516_{8}']
['40355_{9}+30235_{9}', '26537_{10}+19877_{10}', '46414_{10}', '70601_{9}']
['26537_{10}+19877_{10}', '46414_{10}']
['18A35_{11}+13A30_{11}', '26537_{10}+19877_{10}', '46414_{10}', '31884_{11}']
['13435_{12}+B605_{12}', '46414_{10}', '22A3A_{12}']
['C104_{13}+9080_{13}', '26537_{10}+19877_{10}', '46414_{10}', '18124_{13}']
['9957_{14}+735B_{14}', '26537_{10}+19877_{10}', '46414_{10}', '12CB4_{14}']
['7CE2_{15}+5D52_{15}', '26537_{10}+19877_{10}', '46414_{10}', 'DB44_{15}']
['67A9_{16}+4DA5_{16}', '26537_{10}+19877_{10}', '46414_{10}', 'B45E_{16}']
['111101000000010_{2}+101101110101001_{2}', '31746_{10}+23641_{10}', '55387_{10}', '1101100000011011_{2}']
['1120211211_{3}+1012012002_{3}', '31234_{10}+23465_{10}', '54699_{10}', '2200110220_{3}']
['13220002_{4}+11232221_{4}', '31234_{10}+23465_{10}', '54699_{10}', '31122123_{4}']
['1444414_{5}+1222330_{5}', '31234_{10}+23265_{10}', '54499_{10}', '3224404_{5}']
['400334_{6}+300345_{6}', '31234_{10}+23465_{10}', '54699_{10}', '1112133_{6}']
['160030_{7}+125261_{7}', '31234_{10}+23465_{10}', '54699_{10}', '315321_{7}']
['75002_{8}+55651_{8}', '31234_{10}+23565_{10}', '54799_{10}', '150317_{8}']
['46754_{9}+35162_{9}', '31234_{10}+23465_{10}', '54699_{10}', '83026_{9}']
['31234_{10}+23465_{10}', '54699_{10}']
['21515_{11}+166A2_{11}', '31234_{10}+23465_{10}', '54699_{10}', '38017_{11}']
['160AA_{12}+116B5_{12}', '27823_{12}']
['112A8_{13}+A8B0_{13}', '31134_{10}+23465_{10}', '54699_{10}', '1BB68_{13}']
['B550_{14}+87A1_{14}', '31075_{15}']
['93C4_{15}+6E45_{15}', '31234_{10}+23465_{10}', '54799_{10}', '1138E_{15}']
['7A02_{16}+5BA9_{16}', '31234_{10}+23465_{10}', '54699_{10}', 'D5AB_{16}']
[]
['1221110000_{3}+201122012_{3}', '38193_{10}+14315_{10}', '52508_{10}', '2200000222_{3}']
['21111120_{4}+3133223_{4}', '38232_{10}+15315_{10}', '53547_{10}', '31022123_{4}']
['2210412_{5}+424230_{5}', '52447_{10}', '3134242_{5}']
['453000_{6}+150135_{6}', '38132_{10}+14315_{10}', '52447_{10}', '1042451_{6}']
['216315_{7}+56510_{7}', '38232_{10}+14315_{10}', '52547_{10}', '306125_{7}']
['112530_{8}+33753_{8}', '38192_{10}+14315_{10}', '52507_{10}', '146433_{8}']
['57400_{9}+21565_{9}', '38232_{10}+14315_{10}', '52547_{10}', '86065_{9}']
['38232_{10}+14315_{10}', '52547_{10}']
['267A7_{11}+A834_{11}', '38232_{10}+14315_{10}', '52547_{10}', '36530_{11}']
['1A160_{12}+834B_{12}', '52547_{10}', '264AB_{12}']
['1452C_{13}+6692_{13}', '38232_{10}+14315_{10}', '52547_{10}']
['DD0C_{14}+5307_{14}', '38232_{10}+14315_{10}', '52547_{10}', '15215_{14}']
['B4DC_{15}+4395_{15}', '38232_{10}+14315_{10}', '52547_{10}', '10882_{15}']
['9558_{16}+37EB_{16}', '38232_{10}+14315_{10}', '52547_{10}', 'CD43_{16}']
['1000000100110011_{2}+10001110100111_{2}', '33075_{10}+9119_{10}', '42194_{10}', '1010010011000010_{2}']
['1200101000_{3}+110112001_{3}', '33075_{10}+9127_{10}', '42102_{10}', '120102210_{3}']
['20010303_{4}+2032213_{4}', '42192_{10}', '21013020_{4}']
['2024300_{5}+243002_{5}', '33075_{10}+9127_{10}', '42182_{10}', '4021332_{5}']
['413043_{6}+110131_{6}', '33075_{10}+9127_{10}', '42102_{10}', '525230_{6}']
['165300_{7}+35416_{7}', '33175_{10}+9127_{10}', '42202_{10}', '230416_{7}']
['100463_{8}+21647_{8}', '33075_{10}+9127_{10}', '42202_{10}', '122332_{8}']
['50330_{9}+13461_{9}', '33075_{10}+9127_{10}', '42202_{10}', '67582_{9}']
['33075_{10}+9127_{10}', '42102_{10}']
['22939_{11}+6948_{11}', '29605_{11}']
['17183_{12}+5347_{12}', '33075_{10}+9127_{10}', '42102_{10}', '20446_{12}']
['12093_{13}+4201_{13}', '33075_{10}+9127_{10}', '42102_{10}', '11626_{13}']
['C0A7_{14}+347D_{14}', '33075_{10}+9127_{10}', '42202_{10}', '11542_{14}']
['9C00_{15}+2A87_{15}', '33075_{10}+9127_{10}', '42202_{10}', 'C787_{15}']
['8133_{16}+23A7_{16}', '33075_{10}+9127_{10}', '42202_{10}', 'A4DA_{16}']
['100100000100110_{2}+10001111000110_{2}', '18486_{10}+9158_{10}', '27644_{10}', '110110111011100_{2}']
['221100002_{3}+110120012_{3}', '1001001101_{3}']
['10200212_{4}+2033012_{4}', '18470_{10}+9158_{10}', '27628_{10}', '12332330_{4}']
['1042340_{5}+243113_{5}', '18470_{10}+9158_{10}', '27628_{10}', '1354003_{5}']
['221302_{6}+110222_{6}', '18570_{10}+9158_{10}', '27728_{10}', '330212_{6}']
['104564_{7}+35462_{7}', '18470_{10}+9158_{10}', '27628_{10}', '143350_{7}']
['44046_{8}+21706_{8}', '18470_{10}+9158_{10}', '27628_{10}', '65574_{8}']
['27302_{9}+13505_{9}', '18470_{10}+9158_{10}', '27628_{10}', '41818_{9}']
['18470_{10}+9158_{10}', '27628_{10}']
['12971_{11}+6976_{11}', '19837_{11}']
['A832_{12}+5372_{12}', '18470_{10}+9158_{10}', '27628_{10}', '13BA4_{12}']
['853A_{13}+4226_{13}', '18470_{10}+9158_{10}', '27628_{10}', 'C743_{13}']
['6A34_{14}+34A2_{14}', '18470_{10}+9158_{10}', '27628_{10}', 'A0DA_{14}']
['5715_{15}+2AA8_{15}', '18470_{10}+9158_{10}', '27628_{10}', '821B_{15}']
['4826_{16}+23C6_{16}', '6BCE_{16}']
['1100001000110_{2}+1001111001001101_{2}', '1111100111000101_{2}']
['22112011_{3}+2001120221_{3}', '6214_{10}+40525_{10}', '46739_{10}', '2101010022_{3}']
['1201012_{4}+21321031_{4}', '6214_{10}+40401_{10}', '46615_{10}', '23012113_{4}']
['144324_{5}+2244100_{5}', '6214_{10}+40525_{10}', '46739_{10}', '2444324_{5}']
['44434_{6}+511341_{6}', '6214_{10}+40485_{10}', '46699_{10}', '1100111_{6}']
['24055_{7}+226102_{7}', '6214_{10}+40525_{10}', '46739_{10}', '251360_{7}']
['14106_{8}+117115_{8}', '6214_{10}+40525_{10}', '46739_{10}', '113223_{8}']
['8464_{9}+61527_{9}', '6214_{10}+40525_{10}', '46739_{10}', '71102_{9}']
['6214_{10}+40525_{10}', '46739_{10}']
['473A_{11}+284A1_{11}', '6214_{10}+40525_{10}', '46739_{10}']
['371A_{12}+1B551_{12}', '6214_{10}+40525_{10}', '46739_{10}', '23069_{12}']
['2AA0_{13}+155A4_{13}', '6214_{10}+40441_{10}', '18262_{13}']
['239C_{14}+10AA9_{14}', '46739_{10}', '13067_{14}']
['1C94_{15}+C01A_{15}', '46739_{10}', 'DCAE_{15}']
['1846_{16}+9E4D_{16}', '6214_{10}+40525_{10}', '46739_{10}', 'B6A3_{16}']
['100000000100001_{2}+1000100001010110_{2}', '16514_{10}+34990_{10}', '51504_{10}', '1100100101010000_{2}']
['211112001_{3}+1202212200_{3}', '16317_{10}+34802_{10}', '51119_{10}', '2101010222_{3}']
['10000201_{4}+20201112_{4}', '16417_{10}+34902_{10}', '51319_{10}', '30213013_{4}']
['1011132_{5}+2104102_{5}', '3114334_{5}']
['204001_{6}+425330_{6}', '16417_{10}+34902_{10}', '51319_{10}', '10333303_{6}']
['65602_{7}+203520_{7}', '16417_{10}+34902_{10}', '51319_{10}', '302422_{7}']
['40041_{8}+104126_{8}', '16417_{10}+34902_{10}', '51319_{10}', '144167_{8}']
['24461_{9}+52780_{9}', '16417_{10}+34902_{10}', '51319_{10}', '77351_{9}']
['16417_{10}+34902_{10}', '51319_{10}']
['11375_{11}+2424A_{11}', '16417_{10}+34802_{10}', '51219_{10}', '35533_{11}']
['9601_{12}+18246_{12}', '51319_{10}', '25847_{12}']
['761B_{13}+12B6A_{13}', '16417_{10}+34802_{10}', '51219_{10}', '1A40C_{13}']
['5DA9_{14}+CA10_{14}', '14919_{14}']
['4CE7_{15}+A51C_{15}', '16417_{10}+34902_{10}', '51319_{10}', '10314_{15}']
['4021_{16}+8856_{16}', '16417_{10}+34902_{10}', '51319_{10}', 'C877_{16}']

In [5]:
score, _ = pr_score(equations, answers, pr_ratio=0)
print("pr_ratio=0:\t\t", score)
score, graded = pr_score(equations, answers)
print("pr_ratio=0.4:\t", score)
score, _ = pr_score(equations, answers, pr_ratio=1)
print("pr_ratio=1:\t\t", score)
print("y_graded keys:", graded[equations[0]].keys())

pr_ratio=0:		 0.32
pr_ratio=0.4:	 0.4399999999999996
pr_ratio=1:		 0.6200000000000003
y_graded keys: dict_keys(['y_process', 'x_correctness', 'y_correctness', 'process_score', 'pr_score(0.4)'])

In [6]:
for x, y_graded in zip(equations, (graded[equation] for equation in equations)):
    copy = y_graded.copy()
    copy['x'] = x
    copy.pop('y_process')
    print(copy)
    display(y_graded['y_process'])

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '110001010011111_{2}+110101110101010_{2}'}

,equation,result,correct_result =,correctness
0,110001010011111_{2}+110101110101010_{2},10011110111101101_{2},1100111001001001_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '1021122002_{3}+1101210211_{3}'}

,equation,result,correct_result =,correctness
0,1021122002_{3}+1101210211_{3},21210202010_{3},2200102220_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '12022133_{4}+12232222_{4}'}

,equation,result,correct_result =,correctness
0,12022133_{4}+12232222_{4},25247_{10}+27442_{10},25247_{10}+27562_{10},0.0
1,25247_{10}+27442_{10},52689_{10},52689_{10},1.0
2,52689_{10},30131301_{4},30313101_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1301442_{5}+1340222_{5}'}

,equation,result,correct_result =,correctness
0,1301442_{5}+1340222_{5},25247_{10}+27662_{10},25247_{10}+27562_{10},0.0
1,25247_{10}+27662_{10},52909_{10},52909_{10},1.0
2,52909_{10},3104134_{5},3143114_{5},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '312515_{6}+331334_{6}'}

,equation,result,correct_result =,correctness
0,312515_{6}+331334_{6},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},1044253_{6},1044253_{6},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '133415_{7}+143233_{7}'}

,equation,result,correct_result =,correctness
0,133415_{7}+143233_{7},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},306651_{7},306651_{7},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '61237_{8}+65652_{8}'}

,equation,result,correct_result =,correctness
0,61237_{8}+65652_{8},25247_{10}+27602_{10},25247_{10}+27562_{10},0.0
1,25247_{10}+27602_{10},52849_{10},52849_{10},1.0
2,52849_{10},147161_{8},147161_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '37562_{9}+41724_{9}'}

,equation,result,correct_result =,correctness
0,37562_{9}+41724_{9},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},80386_{9},80386_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '25247_{10}+27562_{10}'}

                equation      result correct_result =   correctness
0  25247_{10}+27562_{10}  52809_{10}        52809_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '17A72_{11}+19787_{11}'}

,equation,result,correct_result =,correctness
0,17A72_{11}+19787_{11},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},36947_{11},36749_{11},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 1.0, 'pr_score(0.4)': 0.4, 'x': '1273B_{12}+13B4A_{12}'}

,equation,result,correct_result =,correctness
0,1273B_{12}+13B4A_{12},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'B651_{13}+C712_{13}'}

,equation,result,correct_result =,correctness
0,B651_{13}+C712_{13},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},1B049_{13},1B063_{13},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '92B5_{14}+A08A_{14}'}

,equation,result,correct_result =,correctness
0,92B5_{14}+A08A_{14},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},15361_{14},15361_{14},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '7732_{15}+8277_{15}'}

,equation,result,correct_result =,correctness
0,7732_{15}+8277_{15},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},190A9_{15},109A9_{15},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '629F_{16}+6BAA_{16}'}

,equation,result,correct_result =,correctness
0,629F_{16}+6BAA_{16},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},CEC9_{16},CE49_{16},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '101001011101_{2}+100001001001000_{2}'}

,equation,result,correct_result =,correctness
0,101001011101_{2}+100001001001000_{2},1373_{10}+8776_{10},2653_{10}+16968_{10},0.0
1,1373_{10}+8776_{10},10149_{10},10149_{10},1.0
2,10149_{10},10011110001101_{2},10011110100101_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '10122021_{3}+212021110_{3}'}

,equation,result,correct_result =,correctness
0,10122021_{3}+212021110_{3},2653_{10}+16868_{10},2653_{10}+16968_{10},0.0
1,2653_{10}+16868_{10},19521_{10},19521_{10},1.0
2,19521_{10},222200000_{3},222210000_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '221131_{4}+10021020_{4}'}

,equation,result,correct_result =,correctness
0,221131_{4}+10021020_{4},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},110220211_{4},10302211_{4},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '41103_{5}+1020333_{5}'}

,equation,result,correct_result =,correctness
0,41103_{5}+1020333_{5},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},1111441_{5},1111441_{5},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '20141_{6}+210320_{6}'}

,equation,result,correct_result =,correctness
0,20141_{6}+210320_{6},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},153305_{6},230501_{6},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '10510_{7}+100320_{7}'}

,equation,result,correct_result =,correctness
0,10510_{7}+100320_{7},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},111130_{7},111130_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '5135_{8}+41110_{8}'}

,equation,result,correct_result =,correctness
0,5135_{8}+41110_{8},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},46245_{8},46245_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '3567_{9}+25243_{9}'}

,equation,result,correct_result =,correctness
0,3567_{9}+25243_{9},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},28821_{9},28821_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '2653_{10}+16968_{10}'}

               equation      result correct_result =   correctness
0  2653_{10}+16968_{10}  19621_{10}        19621_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '1AA2_{11}+11826_{11}'}

,equation,result,correct_result =,correctness
0,1AA2_{11}+11826_{11},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},13818_{11},13818_{11},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '1651_{12}+99A0_{12}'}

,equation,result,correct_result =,correctness
0,1651_{12}+99A0_{12},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},B431_{12},B431_{12},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1291_{13}+7953_{13}'}

,equation,result,correct_result =,correctness
0,1291_{13}+7953_{13},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},86168_{13},8C14_{13},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'D77_{14}+6280_{14}'}

,equation,result,correct_result =,correctness
0,D77_{14}+6280_{14},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},7207_{14},7217_{14},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'BBD_{15}+5063_{15}'}

,equation,result,correct_result =,correctness
0,BBD_{15}+5063_{15},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},5C3D_{15},5C31_{15},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'A5D_{16}+4248_{16}'}

,equation,result,correct_result =,correctness
0,A5D_{16}+4248_{16},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},4C5A_{16},4CA5_{16},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '1000001011100010_{2}+111110001100101_{2}'}

,equation,result,correct_result =,correctness
0,1000001011100010_{2}+111110001100101_{2},110000110001000111_{2},1111111101000111_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1200221222_{3}+1121200110_{3}'}

,equation,result,correct_result =,correctness
0,1200221222_{3}+1121200110_{3},33365_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33365_{10}+31845_{10},65210_{10},65210_{10},1.0
2,65210_{10},10022110212_{3},10022110012_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '20023202_{4}+13301211_{4}'}

,equation,result,correct_result =,correctness
0,20023202_{4}+13301211_{4},33496_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33496_{10}+31845_{10},65341_{10},65341_{10},1.0
2,65341_{10},33330331_{4},33330331_{4},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '2033011_{5}+2004340_{5}'}

,equation,result,correct_result =,correctness
0,2033011_{5}+2004340_{5},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},4004241_{5},4042401_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '415042_{6}+403233_{6}'}

,equation,result,correct_result =,correctness
0,415042_{6}+403233_{6},33486_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33486_{10}+31845_{10},65331_{10},65331_{10},1.0
2,65331_{10},1222233_{6},1222243_{6},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '166454_{7}+161562_{7}'}

,equation,result,correct_result =,correctness
0,166454_{7}+161562_{7},33460_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33460_{10}+31845_{10},65305_{10},65305_{10},1.0
2,65305_{10},361625_{7},361252_{7},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '101342_{8}+76145_{8}'}

,equation,result,correct_result =,correctness
0,101342_{8}+76145_{8},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},175707_{8},177507_{8},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '50858_{9}+47613_{9}'}

,equation,result,correct_result =,correctness
0,50858_{9}+47613_{9},33406_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33406_{10}+31845_{10},65251_{10},65251_{10},1.0
2,65251_{10},108725_{9},108451_{9},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '33506_{10}+31845_{10}'}

                equation      result correct_result =   correctness
0  33506_{10}+31845_{10}  65351_{10}        65351_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '231A0_{11}+21A20_{11}'}

,equation,result,correct_result =,correctness
0,231A0_{11}+21A20_{11},33496_{10}+31845_{10},33506_{10}+31845_{10},0.0
1,33496_{10}+31845_{10},65341_{10},65341_{10},1.0
2,65341_{10},36AA0_{11},45101_{11},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '17482_{12}+16519_{12}'}

,equation,result,correct_result =,correctness
0,17482_{12}+16519_{12},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},319A11_{12},3199B_{12},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '12335_{13}+11658_{13}'}

                equation      result correct_result =   correctness
0  12335_{13}+11658_{13}  23990_{13}        23990_{13}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'C2D4_{14}+B869_{14}'}

,equation,result,correct_result =,correctness
0,C2D4_{14}+B869_{14},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},195B9_{14},19B5D_{14},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '9DDB_{15}+9680_{15}'}

,equation,result,correct_result =,correctness
0,9DDB_{15}+9680_{15},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},1465B_{15},1456B_{15},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '82E2_{16}+7C65_{16}'}

,equation,result,correct_result =,correctness
0,82E2_{16}+7C65_{16},33506_{10}+31845_{10},33506_{10}+31845_{10},1.0
1,33506_{10}+31845_{10},65351_{10},65351_{10},1.0
2,65351_{10},FEF7_{16},FF47_{16},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '110011110101001_{2}+100110110100101_{2}'}

,equation,result,correct_result =,correctness
0,110011110101001_{2}+100110110100101_{2},1011011101001110_{2},1011010101001110_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1100101212_{3}+1000021012_{3}'}

,equation,result,correct_result =,correctness
0,1100101212_{3}+1000021012_{3},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},21000200010_{3},2100200001_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '12132221_{4}+10312211_{4}'}

,equation,result,correct_result =,correctness
0,12132221_{4}+10312211_{4},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},130212202_{4},23111032_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1322122_{5}+1114002_{5}'}

,equation,result,correct_result =,correctness
0,1322122_{5}+1114002_{5},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},2441244_{5},2441124_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '322505_{6}+232005_{6}'}

,equation,result,correct_result =,correctness
0,322505_{6}+232005_{6},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},555415_{6},554514_{6},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '140240_{7}+111644_{7}'}

                equation      result correct_result =   correctness
0  140240_{7}+111644_{7}  46514_{10}        252214_{7}          0.0
1             46514_{10}  252412_{7}        252416_{7}          0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '63651_{8}+46645_{8}'}

,equation,result,correct_result =,correctness
0,63651_{8}+46645_{8},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},132516_{8},132516_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '40355_{9}+30235_{9}'}

,equation,result,correct_result =,correctness
0,40355_{9}+30235_{9},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},70601_{9},70601_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '26537_{10}+19877_{10}'}

                equation      result correct_result =   correctness
0  26537_{10}+19877_{10}  46414_{10}        46414_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '18A35_{11}+13A30_{11}'}

,equation,result,correct_result =,correctness
0,18A35_{11}+13A30_{11},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},31884_{11},31965_{11},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '13435_{12}+B605_{12}'}

               equation      result correct_result =   correctness
0  13435_{12}+B605_{12}  46414_{10}        22A3A_{12}          0.0
1            46414_{10}  22A3A_{12}        22A3A_{12}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'C104_{13}+9080_{13}'}

,equation,result,correct_result =,correctness
0,C104_{13}+9080_{13},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},18124_{13},18184_{13},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9957_{14}+735B_{14}'}

,equation,result,correct_result =,correctness
0,9957_{14}+735B_{14},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},12CB4_{14},12CB4_{14},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '7CE2_{15}+5D52_{15}'}

,equation,result,correct_result =,correctness
0,7CE2_{15}+5D52_{15},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},DB44_{15},DB44_{15},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '67A9_{16}+4DA5_{16}'}

,equation,result,correct_result =,correctness
0,67A9_{16}+4DA5_{16},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},B45E_{16},B54E_{16},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '111101000000010_{2}+101101110101001_{2}'}

,equation,result,correct_result =,correctness
0,111101000000010_{2}+101101110101001_{2},31746_{10}+23641_{10},31234_{10}+23465_{10},0.0
1,31746_{10}+23641_{10},55387_{10},55387_{10},1.0
2,55387_{10},1101100000011011_{2},1101100001011011_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1120211211_{3}+1012012002_{3}'}

,equation,result,correct_result =,correctness
0,1120211211_{3}+1012012002_{3},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},2200110220_{3},2210000220_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '13220002_{4}+11232221_{4}'}

,equation,result,correct_result =,correctness
0,13220002_{4}+11232221_{4},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},31122123_{4},31112223_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1444414_{5}+1222330_{5}'}

,equation,result,correct_result =,correctness
0,1444414_{5}+1222330_{5},31234_{10}+23265_{10},31234_{10}+23465_{10},0.0
1,31234_{10}+23265_{10},54499_{10},54499_{10},1.0
2,54499_{10},3224404_{5},3220444_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '400334_{6}+300345_{6}'}

,equation,result,correct_result =,correctness
0,400334_{6}+300345_{6},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},1112133_{6},1101123_{6},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '160030_{7}+125261_{7}'}

,equation,result,correct_result =,correctness
0,160030_{7}+125261_{7},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},315321_{7},315321_{7},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '75002_{8}+55651_{8}'}

,equation,result,correct_result =,correctness
0,75002_{8}+55651_{8},31234_{10}+23565_{10},31234_{10}+23465_{10},0.0
1,31234_{10}+23565_{10},54799_{10},54799_{10},1.0
2,54799_{10},150317_{8},153017_{8},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '46754_{9}+35162_{9}'}

,equation,result,correct_result =,correctness
0,46754_{9}+35162_{9},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},83026_{9},83026_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '31234_{10}+23465_{10}'}

                equation      result correct_result =   correctness
0  31234_{10}+23465_{10}  54699_{10}        54699_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '21515_{11}+166A2_{11}'}

,equation,result,correct_result =,correctness
0,21515_{11}+166A2_{11},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},38017_{11},38107_{11},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '160AA_{12}+116B5_{12}'}

                equation      result correct_result =   correctness
0  160AA_{12}+116B5_{12}  27823_{12}        277A3_{12}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '112A8_{13}+A8B0_{13}'}

,equation,result,correct_result =,correctness
0,112A8_{13}+A8B0_{13},31134_{10}+23465_{10},31234_{10}+23465_{10},0.0
1,31134_{10}+23465_{10},54699_{10},54599_{10},0.0
2,54699_{10},1BB68_{13},1BB88_{13},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': 'B550_{14}+87A1_{14}'}

              equation      result correct_result =   correctness
0  B550_{14}+87A1_{14}  31075_{15}        15D11_{14}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '93C4_{15}+6E45_{15}'}

,equation,result,correct_result =,correctness
0,93C4_{15}+6E45_{15},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54799_{10},54699_{10},0.0
2,54799_{10},1138E_{15},11384_{15},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '7A02_{16}+5BA9_{16}'}

,equation,result,correct_result =,correctness
0,7A02_{16}+5BA9_{16},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},D5AB_{16},D5AB_{16},1.0

{'x_correctness': 0, 'y_correctness': 0, 'process_score': 0, 'pr_score:0.4': 0, 'x': '1001010101011000_{2}+11011111101011_{2}'}

{}

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1221110000_{3}+201122012_{3}'}

,equation,result,correct_result =,correctness
0,1221110000_{3}+201122012_{3},38193_{10}+14315_{10},38232_{10}+14315_{10},0.0
1,38193_{10}+14315_{10},52508_{10},52508_{10},1.0
2,52508_{10},2200000222_{3},2200000202_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '21111120_{4}+3133223_{4}'}

,equation,result,correct_result =,correctness
0,21111120_{4}+3133223_{4},38232_{10}+15315_{10},38232_{10}+14315_{10},0.0
1,38232_{10}+15315_{10},53547_{10},53547_{10},1.0
2,53547_{10},31022123_{4},31010223_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.5, 'pr_score(0.4)': 0.2, 'x': '2210412_{5}+424230_{5}'}

                 equation       result correct_result =   correctness
0  2210412_{5}+424230_{5}   52447_{10}       3140142_{5}          0.0
1              52447_{10}  3134242_{5}       3134242_{5}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '453000_{6}+150135_{6}'}

,equation,result,correct_result =,correctness
0,453000_{6}+150135_{6},38132_{10}+14315_{10},38232_{10}+14315_{10},0.0
1,38132_{10}+14315_{10},52447_{10},52447_{10},1.0
2,52447_{10},1042451_{6},1042451_{6},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '216315_{7}+56510_{7}'}

,equation,result,correct_result =,correctness
0,216315_{7}+56510_{7},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},306125_{7},306125_{7},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '112530_{8}+33753_{8}'}

,equation,result,correct_result =,correctness
0,112530_{8}+33753_{8},38192_{10}+14315_{10},38232_{10}+14315_{10},0.0
1,38192_{10}+14315_{10},52507_{10},52507_{10},1.0
2,52507_{10},146433_{8},146433_{8},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '57400_{9}+21565_{9}'}

,equation,result,correct_result =,correctness
0,57400_{9}+21565_{9},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},86065_{9},80065_{9},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '38232_{10}+14315_{10}'}

                equation      result correct_result =   correctness
0  38232_{10}+14315_{10}  52547_{10}        52547_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '267A7_{11}+A834_{11}'}

,equation,result,correct_result =,correctness
0,267A7_{11}+A834_{11},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},36530_{11},36530_{11},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '1A160_{12}+834B_{12}'}

               equation      result correct_result =   correctness
0  1A160_{12}+834B_{12}  52547_{10}        264AB_{12}          0.0
1            52547_{10}  264AB_{12}        264AB_{12}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 1.0, 'pr_score(0.4)': 0.4, 'x': '1452C_{13}+6692_{13}'}

,equation,result,correct_result =,correctness
0,1452C_{13}+6692_{13},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'DD0C_{14}+5307_{14}'}

,equation,result,correct_result =,correctness
0,DD0C_{14}+5307_{14},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},15215_{14},15215_{14},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'B4DC_{15}+4395_{15}'}

,equation,result,correct_result =,correctness
0,B4DC_{15}+4395_{15},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},10882_{15},10882_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9558_{16}+37EB_{16}'}

,equation,result,correct_result =,correctness
0,9558_{16}+37EB_{16},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},CD43_{16},CD43_{16},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1000000100110011_{2}+10001110100111_{2}'}

,equation,result,correct_result =,correctness
0,1000000100110011_{2}+10001110100111_{2},33075_{10}+9119_{10},33075_{10}+9127_{10},0.0
1,33075_{10}+9119_{10},42194_{10},42194_{10},1.0
2,42194_{10},1010010011000010_{2},1010010011010010_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1200101000_{3}+110112001_{3}'}

,equation,result,correct_result =,correctness
0,1200101000_{3}+110112001_{3},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42102_{10},42202_{10},0.0
2,42102_{10},120102210_{3},2010202100_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '20010303_{4}+2032213_{4}'}

                   equation        result correct_result =   correctness
0  20010303_{4}+2032213_{4}    42192_{10}      22103122_{4}          0.0
1                42192_{10}  21013020_{4}      22103100_{4}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '2024300_{5}+243002_{5}'}

,equation,result,correct_result =,correctness
0,2024300_{5}+243002_{5},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42182_{10},42202_{10},0.0
2,42182_{10},4021332_{5},2322212_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '413043_{6}+110131_{6}'}

,equation,result,correct_result =,correctness
0,413043_{6}+110131_{6},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42102_{10},42202_{10},0.0
2,42102_{10},525230_{6},522530_{6},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '165300_{7}+35416_{7}'}

,equation,result,correct_result =,correctness
0,165300_{7}+35416_{7},33175_{10}+9127_{10},33075_{10}+9127_{10},0.0
1,33175_{10}+9127_{10},42202_{10},42302_{10},0.0
2,42202_{10},230416_{7},234016_{7},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '100463_{8}+21647_{8}'}

,equation,result,correct_result =,correctness
0,100463_{8}+21647_{8},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},122332_{8},122332_{8},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '50330_{9}+13461_{9}'}

,equation,result,correct_result =,correctness
0,50330_{9}+13461_{9},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},67582_{9},63801_{9},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '33075_{10}+9127_{10}'}

               equation      result correct_result =   correctness
0  33075_{10}+9127_{10}  42102_{10}        42202_{10}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '22939_{11}+6948_{11}'}

               equation      result correct_result =   correctness
0  22939_{11}+6948_{11}  29605_{11}        29786_{11}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '17183_{12}+5347_{12}'}

,equation,result,correct_result =,correctness
0,17183_{12}+5347_{12},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42102_{10},42202_{10},0.0
2,42102_{10},20446_{12},20446_{12},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '12093_{13}+4201_{13}'}

,equation,result,correct_result =,correctness
0,12093_{13}+4201_{13},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42102_{10},42202_{10},0.0
2,42102_{10},11626_{13},16218_{13},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': 'C0A7_{14}+347D_{14}'}

,equation,result,correct_result =,correctness
0,C0A7_{14}+347D_{14},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},11542_{14},11546_{14},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9C00_{15}+2A87_{15}'}

,equation,result,correct_result =,correctness
0,9C00_{15}+2A87_{15},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},C787_{15},C787_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '8133_{16}+23A7_{16}'}

,equation,result,correct_result =,correctness
0,8133_{16}+23A7_{16},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},A4DA_{16},A4DA_{16},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '100100000100110_{2}+10001111000110_{2}'}

,equation,result,correct_result =,correctness
0,100100000100110_{2}+10001111000110_{2},18486_{10}+9158_{10},18470_{10}+9158_{10},0.0
1,18486_{10}+9158_{10},27644_{10},27644_{10},1.0
2,27644_{10},110110111011100_{2},110101111111100_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '221100002_{3}+110120012_{3}'}

                      equation          result correct_result =   correctness
0  221100002_{3}+110120012_{3}  1001001101_{3}    1101220021_{3}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '10200212_{4}+2033012_{4}'}

,equation,result,correct_result =,correctness
0,10200212_{4}+2033012_{4},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},12332330_{4},12233230_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1042340_{5}+243113_{5}'}

,equation,result,correct_result =,correctness
0,1042340_{5}+243113_{5},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},1354003_{5},1341003_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '221302_{6}+110222_{6}'}

,equation,result,correct_result =,correctness
0,221302_{6}+110222_{6},18570_{10}+9158_{10},18470_{10}+9158_{10},0.0
1,18570_{10}+9158_{10},27728_{10},27728_{10},1.0
2,27728_{10},330212_{6},332212_{6},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '104564_{7}+35462_{7}'}

,equation,result,correct_result =,correctness
0,104564_{7}+35462_{7},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},143350_{7},143356_{7},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '44046_{8}+21706_{8}'}

,equation,result,correct_result =,correctness
0,44046_{8}+21706_{8},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},65574_{8},65754_{8},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '27302_{9}+13505_{9}'}

,equation,result,correct_result =,correctness
0,27302_{9}+13505_{9},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},41818_{9},41807_{9},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '18470_{10}+9158_{10}'}

               equation      result correct_result =   correctness
0  18470_{10}+9158_{10}  27628_{10}        27628_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '12971_{11}+6976_{11}'}

               equation      result correct_result =   correctness
0  12971_{11}+6976_{11}  19837_{11}        19837_{11}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'A832_{12}+5372_{12}'}

,equation,result,correct_result =,correctness
0,A832_{12}+5372_{12},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},13BA4_{12},13BA4_{12},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '853A_{13}+4226_{13}'}

,equation,result,correct_result =,correctness
0,853A_{13}+4226_{13},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},C743_{13},C763_{13},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '6A34_{14}+34A2_{14}'}

,equation,result,correct_result =,correctness
0,6A34_{14}+34A2_{14},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},A0DA_{14},A0D6_{14},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '5715_{15}+2AA8_{15}'}

,equation,result,correct_result =,correctness
0,5715_{15}+2AA8_{15},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},821B_{15},82BD_{15},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '4826_{16}+23C6_{16}'}

              equation     result correct_result =   correctness
0  4826_{16}+23C6_{16}  6BCE_{16}         6BEC_{16}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '1100001000110_{2}+1001111001001101_{2}'}

,equation,result,correct_result =,correctness
0,1100001000110_{2}+1001111001001101_{2},1111100111000101_{2},1011011010010011_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '22112011_{3}+2001120221_{3}'}

,equation,result,correct_result =,correctness
0,22112011_{3}+2001120221_{3},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},2101010022_{3},2101010002_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '1201012_{4}+21321031_{4}'}

,equation,result,correct_result =,correctness
0,1201012_{4}+21321031_{4},6214_{10}+40401_{10},6214_{10}+40525_{10},0.0
1,6214_{10}+40401_{10},46615_{10},46615_{10},1.0
2,46615_{10},23012113_{4},23120113_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '144324_{5}+2244100_{5}'}

,equation,result,correct_result =,correctness
0,144324_{5}+2244100_{5},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},2444324_{5},2443424_{5},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '44434_{6}+511341_{6}'}

,equation,result,correct_result =,correctness
0,44434_{6}+511341_{6},6214_{10}+40485_{10},6214_{10}+40525_{10},0.0
1,6214_{10}+40485_{10},46699_{10},46699_{10},1.0
2,46699_{10},1100111_{6},1000111_{6},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '24055_{7}+226102_{7}'}

,equation,result,correct_result =,correctness
0,24055_{7}+226102_{7},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},251360_{7},253160_{7},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '14106_{8}+117115_{8}'}

,equation,result,correct_result =,correctness
0,14106_{8}+117115_{8},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},113223_{8},133223_{8},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '8464_{9}+61527_{9}'}

,equation,result,correct_result =,correctness
0,8464_{9}+61527_{9},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},71102_{9},71102_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '6214_{10}+40525_{10}'}

               equation      result correct_result =   correctness
0  6214_{10}+40525_{10}  46739_{10}        46739_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 1.0, 'pr_score(0.4)': 0.4, 'x': '473A_{11}+284A1_{11}'}

,equation,result,correct_result =,correctness
0,473A_{11}+284A1_{11},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '371A_{12}+1B551_{12}'}

,equation,result,correct_result =,correctness
0,371A_{12}+1B551_{12},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},23069_{12},2306B_{12},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '2AA0_{13}+155A4_{13}'}

,equation,result,correct_result =,correctness
0,2AA0_{13}+155A4_{13},6214_{10}+40441_{10},6214_{10}+40525_{10},0.0
1,6214_{10}+40441_{10},18262_{13},46655_{10},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '239C_{14}+10AA9_{14}'}

               equation      result correct_result =   correctness
0  239C_{14}+10AA9_{14}  46739_{10}        13067_{14}          0.0
1            46739_{10}  13067_{14}        13067_{14}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '1C94_{15}+C01A_{15}'}

              equation      result correct_result =   correctness
0  1C94_{15}+C01A_{15}  46739_{10}         DCAE_{15}          0.0
1           46739_{10}   DCAE_{15}         DCAE_{15}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '1846_{16}+9E4D_{16}'}

,equation,result,correct_result =,correctness
0,1846_{16}+9E4D_{16},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},B6A3_{16},B693_{16},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '100000000100001_{2}+1000100001010110_{2}'}

,equation,result,correct_result =,correctness
0,100000000100001_{2}+1000100001010110_{2},16514_{10}+34990_{10},16417_{10}+34902_{10},0.0
1,16514_{10}+34990_{10},51504_{10},51504_{10},1.0
2,51504_{10},1100100101010000_{2},1100100100110000_{2},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.3333333333333333, 'pr_score(0.4)': 0.13333333333333333, 'x': '211112001_{3}+1202212200_{3}'}

,equation,result,correct_result =,correctness
0,211112001_{3}+1202212200_{3},16317_{10}+34802_{10},16417_{10}+34902_{10},0.0
1,16317_{10}+34802_{10},51119_{10},51119_{10},1.0
2,51119_{10},2101010222_{3},2121010022_{3},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '10000201_{4}+20201112_{4}'}

,equation,result,correct_result =,correctness
0,10000201_{4}+20201112_{4},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},30213013_{4},30201313_{4},0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '1011132_{5}+2104102_{5}'}

                  equation       result correct_result =   correctness
0  1011132_{5}+2104102_{5}  3114334_{5}       3120234_{5}          0.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '204001_{6}+425330_{6}'}

,equation,result,correct_result =,correctness
0,204001_{6}+425330_{6},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},10333303_{6},1033331_{6},0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '65602_{7}+203520_{7}'}

,equation,result,correct_result =,correctness
0,65602_{7}+203520_{7},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},302422_{7},302422_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '40041_{8}+104126_{8}'}

,equation,result,correct_result =,correctness
0,40041_{8}+104126_{8},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},144167_{8},144167_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '24461_{9}+52780_{9}'}

,equation,result,correct_result =,correctness
0,24461_{9}+52780_{9},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},77351_{9},77351_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '16417_{10}+34902_{10}'}

                equation      result correct_result =   correctness
0  16417_{10}+34902_{10}  51319_{10}        51319_{10}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '11375_{11}+2424A_{11}'}

,equation,result,correct_result =,correctness
0,11375_{11}+2424A_{11},16417_{10}+34802_{10},16417_{10}+34902_{10},0.0
1,16417_{10}+34802_{10},51219_{10},51219_{10},1.0
2,51219_{10},35533_{11},35533_{11},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '9601_{12}+18246_{12}'}

               equation      result correct_result =   correctness
0  9601_{12}+18246_{12}  51319_{10}        25847_{12}          0.0
1            51319_{10}  25847_{12}        25847_{12}          1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.6666666666666666, 'pr_score(0.4)': 0.26666666666666666, 'x': '761B_{13}+12B6A_{13}'}

,equation,result,correct_result =,correctness
0,761B_{13}+12B6A_{13},16417_{10}+34802_{10},16417_{10}+34902_{10},0.0
1,16417_{10}+34802_{10},51219_{10},51219_{10},1.0
2,51219_{10},1A40C_{13},1A40C_{13},1.0

{'x_correctness': 1, 'y_correctness': 0, 'process_score': 0.0, 'pr_score(0.4)': 0.0, 'x': '5DA9_{14}+CA10_{14}'}

              equation      result correct_result =   correctness
0  5DA9_{14}+CA10_{14}  14919_{14}        149B9_{14}          0.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '4CE7_{15}+A51C_{15}'}

,equation,result,correct_result =,correctness
0,4CE7_{15}+A51C_{15},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},10314_{15},10314_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '4021_{16}+8856_{16}'}

,equation,result,correct_result =,correctness
0,4021_{16}+8856_{16},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},C877_{16},C877_{16},1.0

In [7]:
for x, y_graded in zip(equations, (graded[equation] for equation in equations)):
    if y_graded['y_correctness'] == 1:
        copy = y_graded.copy()
        copy['x'] = x
        copy.pop('y_process')
        print(copy)
        display(y_graded['y_process'])

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '312515_{6}+331334_{6}'}

,equation,result,correct_result =,correctness
0,312515_{6}+331334_{6},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},1044253_{6},1044253_{6},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '133415_{7}+143233_{7}'}

,equation,result,correct_result =,correctness
0,133415_{7}+143233_{7},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},306651_{7},306651_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '37562_{9}+41724_{9}'}

,equation,result,correct_result =,correctness
0,37562_{9}+41724_{9},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},80386_{9},80386_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '25247_{10}+27562_{10}'}

                equation      result correct_result =   correctness
0  25247_{10}+27562_{10}  52809_{10}        52809_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '92B5_{14}+A08A_{14}'}

,equation,result,correct_result =,correctness
0,92B5_{14}+A08A_{14},25247_{10}+27562_{10},25247_{10}+27562_{10},1.0
1,25247_{10}+27562_{10},52809_{10},52809_{10},1.0
2,52809_{10},15361_{14},15361_{14},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '41103_{5}+1020333_{5}'}

,equation,result,correct_result =,correctness
0,41103_{5}+1020333_{5},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},1111441_{5},1111441_{5},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '10510_{7}+100320_{7}'}

,equation,result,correct_result =,correctness
0,10510_{7}+100320_{7},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},111130_{7},111130_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '5135_{8}+41110_{8}'}

,equation,result,correct_result =,correctness
0,5135_{8}+41110_{8},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},46245_{8},46245_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '3567_{9}+25243_{9}'}

,equation,result,correct_result =,correctness
0,3567_{9}+25243_{9},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},28821_{9},28821_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '2653_{10}+16968_{10}'}

               equation      result correct_result =   correctness
0  2653_{10}+16968_{10}  19621_{10}        19621_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '1AA2_{11}+11826_{11}'}

,equation,result,correct_result =,correctness
0,1AA2_{11}+11826_{11},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},13818_{11},13818_{11},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '1651_{12}+99A0_{12}'}

,equation,result,correct_result =,correctness
0,1651_{12}+99A0_{12},2653_{10}+16968_{10},2653_{10}+16968_{10},1.0
1,2653_{10}+16968_{10},19621_{10},19621_{10},1.0
2,19621_{10},B431_{12},B431_{12},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '33506_{10}+31845_{10}'}

                equation      result correct_result =   correctness
0  33506_{10}+31845_{10}  65351_{10}        65351_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '12335_{13}+11658_{13}'}

                equation      result correct_result =   correctness
0  12335_{13}+11658_{13}  23990_{13}        23990_{13}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '63651_{8}+46645_{8}'}

,equation,result,correct_result =,correctness
0,63651_{8}+46645_{8},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},132516_{8},132516_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '40355_{9}+30235_{9}'}

,equation,result,correct_result =,correctness
0,40355_{9}+30235_{9},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},70601_{9},70601_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '26537_{10}+19877_{10}'}

                equation      result correct_result =   correctness
0  26537_{10}+19877_{10}  46414_{10}        46414_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '13435_{12}+B605_{12}'}

               equation      result correct_result =   correctness
0  13435_{12}+B605_{12}  46414_{10}        22A3A_{12}          0.0
1            46414_{10}  22A3A_{12}        22A3A_{12}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9957_{14}+735B_{14}'}

,equation,result,correct_result =,correctness
0,9957_{14}+735B_{14},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},12CB4_{14},12CB4_{14},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '7CE2_{15}+5D52_{15}'}

,equation,result,correct_result =,correctness
0,7CE2_{15}+5D52_{15},26537_{10}+19877_{10},26537_{10}+19877_{10},1.0
1,26537_{10}+19877_{10},46414_{10},46414_{10},1.0
2,46414_{10},DB44_{15},DB44_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '160030_{7}+125261_{7}'}

,equation,result,correct_result =,correctness
0,160030_{7}+125261_{7},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},315321_{7},315321_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '46754_{9}+35162_{9}'}

,equation,result,correct_result =,correctness
0,46754_{9}+35162_{9},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},83026_{9},83026_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '31234_{10}+23465_{10}'}

                equation      result correct_result =   correctness
0  31234_{10}+23465_{10}  54699_{10}        54699_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '7A02_{16}+5BA9_{16}'}

,equation,result,correct_result =,correctness
0,7A02_{16}+5BA9_{16},31234_{10}+23465_{10},31234_{10}+23465_{10},1.0
1,31234_{10}+23465_{10},54699_{10},54699_{10},1.0
2,54699_{10},D5AB_{16},D5AB_{16},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '216315_{7}+56510_{7}'}

,equation,result,correct_result =,correctness
0,216315_{7}+56510_{7},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},306125_{7},306125_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '38232_{10}+14315_{10}'}

                equation      result correct_result =   correctness
0  38232_{10}+14315_{10}  52547_{10}        52547_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '267A7_{11}+A834_{11}'}

,equation,result,correct_result =,correctness
0,267A7_{11}+A834_{11},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},36530_{11},36530_{11},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '1A160_{12}+834B_{12}'}

               equation      result correct_result =   correctness
0  1A160_{12}+834B_{12}  52547_{10}        264AB_{12}          0.0
1            52547_{10}  264AB_{12}        264AB_{12}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'DD0C_{14}+5307_{14}'}

,equation,result,correct_result =,correctness
0,DD0C_{14}+5307_{14},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},15215_{14},15215_{14},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'B4DC_{15}+4395_{15}'}

,equation,result,correct_result =,correctness
0,B4DC_{15}+4395_{15},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},10882_{15},10882_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9558_{16}+37EB_{16}'}

,equation,result,correct_result =,correctness
0,9558_{16}+37EB_{16},38232_{10}+14315_{10},38232_{10}+14315_{10},1.0
1,38232_{10}+14315_{10},52547_{10},52547_{10},1.0
2,52547_{10},CD43_{16},CD43_{16},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '100463_{8}+21647_{8}'}

,equation,result,correct_result =,correctness
0,100463_{8}+21647_{8},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},122332_{8},122332_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '9C00_{15}+2A87_{15}'}

,equation,result,correct_result =,correctness
0,9C00_{15}+2A87_{15},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},C787_{15},C787_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '8133_{16}+23A7_{16}'}

,equation,result,correct_result =,correctness
0,8133_{16}+23A7_{16},33075_{10}+9127_{10},33075_{10}+9127_{10},1.0
1,33075_{10}+9127_{10},42202_{10},42202_{10},1.0
2,42202_{10},A4DA_{16},A4DA_{16},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '18470_{10}+9158_{10}'}

               equation      result correct_result =   correctness
0  18470_{10}+9158_{10}  27628_{10}        27628_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '12971_{11}+6976_{11}'}

               equation      result correct_result =   correctness
0  12971_{11}+6976_{11}  19837_{11}        19837_{11}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': 'A832_{12}+5372_{12}'}

,equation,result,correct_result =,correctness
0,A832_{12}+5372_{12},18470_{10}+9158_{10},18470_{10}+9158_{10},1.0
1,18470_{10}+9158_{10},27628_{10},27628_{10},1.0
2,27628_{10},13BA4_{12},13BA4_{12},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '8464_{9}+61527_{9}'}

,equation,result,correct_result =,correctness
0,8464_{9}+61527_{9},6214_{10}+40525_{10},6214_{10}+40525_{10},1.0
1,6214_{10}+40525_{10},46739_{10},46739_{10},1.0
2,46739_{10},71102_{9},71102_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '6214_{10}+40525_{10}'}

               equation      result correct_result =   correctness
0  6214_{10}+40525_{10}  46739_{10}        46739_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '239C_{14}+10AA9_{14}'}

               equation      result correct_result =   correctness
0  239C_{14}+10AA9_{14}  46739_{10}        13067_{14}          0.0
1            46739_{10}  13067_{14}        13067_{14}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '1C94_{15}+C01A_{15}'}

              equation      result correct_result =   correctness
0  1C94_{15}+C01A_{15}  46739_{10}         DCAE_{15}          0.0
1           46739_{10}   DCAE_{15}         DCAE_{15}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '65602_{7}+203520_{7}'}

,equation,result,correct_result =,correctness
0,65602_{7}+203520_{7},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},302422_{7},302422_{7},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '40041_{8}+104126_{8}'}

,equation,result,correct_result =,correctness
0,40041_{8}+104126_{8},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},144167_{8},144167_{8},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '24461_{9}+52780_{9}'}

,equation,result,correct_result =,correctness
0,24461_{9}+52780_{9},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},77351_{9},77351_{9},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '16417_{10}+34902_{10}'}

                equation      result correct_result =   correctness
0  16417_{10}+34902_{10}  51319_{10}        51319_{10}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 0.5, 'pr_score(0.4)': 0.8, 'x': '9601_{12}+18246_{12}'}

               equation      result correct_result =   correctness
0  9601_{12}+18246_{12}  51319_{10}        25847_{12}          0.0
1            51319_{10}  25847_{12}        25847_{12}          1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '4CE7_{15}+A51C_{15}'}

,equation,result,correct_result =,correctness
0,4CE7_{15}+A51C_{15},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},10314_{15},10314_{15},1.0

{'x_correctness': 1, 'y_correctness': 1, 'process_score': 1.0, 'pr_score(0.4)': 1.0, 'x': '4021_{16}+8856_{16}'}

,equation,result,correct_result =,correctness
0,4021_{16}+8856_{16},16417_{10}+34902_{10},16417_{10}+34902_{10},1.0
1,16417_{10}+34902_{10},51319_{10},51319_{10},1.0
2,51319_{10},C877_{16},C877_{16},1.0